#bg
{
    background-color: rgb(39, 39, 39);
}

#logo
{
    display: block;
    margin: auto;
    height: 5%;
    width: 5%;
}

#item
{
    width:79%;
    height: 40px;
    outline-color: #d9534f;
}

#add
{
    width:20%;
    float: right;
    height: 40px;
}

li:hover
{
    cursor: pointer;
    text-decoration: line-through;
    background-color: rgb(207, 207, 207);
    color: #d9534f;
}